/*General elements*/
button{
    border: none;
    border-radius: 3px;
    padding: 5px 10px;;
    cursor: pointer;
}
body{
    background-color: rgba(206, 226, 238, 0.618)
}

h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Elements in main view*/
#newBookBtn{
    background-color: #72ff47;
    color: slategray;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
}

#contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    background-color: ;
}

/*Modal and form*/
#newBookModal{
    border-radius: 10px;
}

#newBookForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em
}

form legend, form p{
    grid-column: 1/3;
}

form p {
    margin-bottom: 0;
}

form button{
    margin-top: 2em;
}
input[type="radio"]{
    justify-self: right;
}
  
/*Book cards*/
.card {
    padding: 1.5em;
    border: solid rgba(0, 0, 255, 0.5) 2px;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px rgba(0, 0, 255, 0.25);
    padding: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: whitesmoke;
}
.card h4, .card p{
    margin: 5px;
}
.card:hover{
    background-color: rgba(91, 110, 193, 0.075);
    box-shadow: 2px 1px rgba(0, 0, 255, 0.5);
}

.card button {
    background-color: #ff6347;
    color: white;
    margin-top: 10px;
    grid-column: 2 /3;
    justify-self: center;
}

.card button:hover {
    background-color: #ff4c33;
}

  
    
