/*General elements*/
button{
    border: none;
    border-radius: 3px;
    padding: 5px 10px;;
    cursor: pointer;
}

body{
    background-color: rgba(206, 226, 238, 0.618)
}

h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.fa-github {
    font-size: 18px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}


/*Elements in main view*/
#newBookBtn{
    background-color: #72ff47;
    color: slategray;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}
#newBookBtn:hover {
    transform: scale(1.1)
}

#contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

/*Modal and form*/
#newBookModal{
    border-radius: 10px;
}

#newBookForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em
}

form legend, form p{
    grid-column: 1/3;
}
#read{
    grid-column: 1/3;
    justify-content: space-around;

}

form p {
    margin-bottom: 0;
}

form button{
    margin-top: 2em;
}
input[type="radio"]{
    justify-self: right;
}

dialog button:hover{
    background-color: lightslategrey;
    color: whitesmoke;
}
  
/*Book cards*/
.card {
    padding: 1.5em;
    border: solid rgba(0, 0, 255, 0.5) 2px;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px rgba(0, 0, 255, 0.25);
    padding: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: whitesmoke;
}
.card h4, .card p{
    margin: 5px;
}
.card:hover{
    background-color: rgba(91, 110, 193, 0.075);
    box-shadow: 2px 1px rgba(0, 0, 255, 0.5);
}

.card button {
    background-color: #ff6347;
    color: white;
    margin-top: 10px;
    grid-column: 2 /3;
    justify-self: center;
}

.card button:hover {
    background-color: #ff4c33;
}

.toggle-container{
    position: relative;
    display:inline-block;
    width: 40px;
    height: 20px;
    pointer-events: none;
}
.toggle-container input{
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
}

.slider{
    position: absolute;
    top: 0;
    left: 0;    
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #808080;
    transition: 0.4s;;
    pointer-events: none;
}

.slider::before{
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-color: #fff;
    transition: 0.2s;
    pointer-events: none;
}
.slider::after{
    content: "No";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 46px;
    bottom: 2px;
    transition: 0.2s;
    pointer-events: none;
    color:grey;
}

input:checked + .slider {
    background-color: #2196f3;
}
input:checked + .slider:before {
    transform: translateX(16px);
}

input:checked + .slider:after {
    content: "Yes";
    left: 46px;
    color: blue;
}

.slider.round{
    border-radius: 14px;

}
.slider.round:before{
    border-radius: 50%;

}

  
    
